<footer>
    <div class="container">
        <div class="row">
            <div class="row-2">
                <div class="col-md-3">
                    <div class="footer-section">
                        <div class="col-md-3">
                            <img src="assets/newlogo.jpg" alt="Logo" class="footer-logo">
                        </div>
                        <p>123, XYZ, Nagpur.</p>
                        <p>Phone: +123-456-7890</p>
                        <p>Email: fitessentialshub.com</p>
                        <div class="contact-btn">
                            <a href="#" class="btn">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-section">
                        <strong>PRODUCTS</strong>
                        <ul>
                            <li><a href="#">Weights and Barbells</a></li>
                            <li><a href="#">Strength Machines</a></li>
                            <li><a href="#">Cardio Machines</a></li>
                            <li><a href="#">Benches, Racks, and Grips</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Supplements</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row-2">
                <div class="col-md-3">
                    <div class="footer-section">
                        <strong>TERMS AND CONDITIONS</strong>
                        <ul>
                            <li><a href="#">Shipping Policy</a></li>
                            <li><a href="#">Return Policy</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-section">
                        <strong>PAYMENT POLICIES</strong>
                        <ul>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Payment Security</a></li>
                            <li><a href="#">Refund Policy</a></li>
                            <li><a href="#">Billing Terms</a></li>
                            <li><a href="#">Subscription Terms</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2024 FitEssentials Hub. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>