.main {
    margin-top: 40px;
    width: 100%;
    overflow-x: auto;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    gap: 5px;
}
.container::-webkit-scrollbar {
    display: none;
  }

.heading {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    line-height: 1.3;
}

.card {
    cursor: pointer;
    width: 220px;
    height: 300px;
    background-color: white;
    border: 1px solid rgb(223, 223, 223);
    box-sizing: border-box;
    position: relative;
}

.image {
    min-width: 100%;
    height: 72%;
}

.image img {
    min-width: 88%;
    height: 95%;
    padding: 6%;
}
.info{
    padding: 4%;
}

.info .name {
    margin-left: 8px;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 0;
}

.info .price {
    margin-left: 5px;
}

.cost {
    display: flex;
}

.icons {
    font-size: 13px;
    font-weight: 100;
    margin-left: 5px;
    margin-top: 1px;
}

.flex {
    display: flex;
}

.flex p {
    font-size: 15px;
    font-weight: 700;
}

.discountCost {
    font-size: 14px;
    color: rgb(216, 28, 28);
}

.productCost {
    margin-left: 10px;
    font-size: 14px;
    text-decoration: line-through;
    color: rgb(147, 147, 147);
}
.badge {
    top: 4%;
    width: 53px;
    height: 21px;
    background-color: rgb(62, 165, 85);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 11px;
    font-weight: 700;
}


@media(max-width:1400px){
    .container{
        justify-content: left;
    }
}

@media(max-width:450px) {
    .card {
        width: 140px;
        padding: 3px;
        height: 185px;
        border: 1px solid rgb(223, 223, 223);
        box-sizing: border-box;
    }

    .info .name {
        margin-left: 8px;
        font-size: 12px;
    }

    .discountCost,
    .productCost {
        font-size: 11px;
    }

    .productCost{
        margin-left: 3px;
    }
    .icons{
        font-size: 9px;
    }
    .badge {
        width: 43px;
        height: 18px;
        background-color: rgb(62, 165, 85);
        position: absolute;
        color: white;
        text-align: center;
        font-size: 9px;
    }
}