<div class="main">
    <p class="heading">Top Gym Equipment Brands</p>
    <div class="container">
        <div class="flex">
            <div class="card" routerLink="/brand/Cybex">
                <img src="/assets/gym brands/cy.jpg">
            </div>
            <p>Cybex</p>
        </div>
        <div class="flex">
            <div class="card" routerLink="/brand/Fitline">
                <img src="/assets/gym brands/Fitline.avif">
            </div>
            <p>Fitline</p>
        </div>

        <div class="flex">
            <div class="card" routerLink="/brand/Life Fitness">
                <img src="/assets/gym brands/Life-Fitness.png">
            </div>
            <p>Life Fitness</p>
        </div>

        <div class="flex">
            <div class="card" routerLink="/brand/Precor">
                <img src="/assets/gym brands/precor.png">
            </div>
            <p>Precor</p>
        </div>

        <div class="flex">
            <div class="card" routerLink="/brand/Hammer Strength">
                <img src="/assets/gym brands/HS.jpg">
            </div>
            <p>Hammer Strength</p>
        </div>

        <div class="flex">
            <div class="card" routerLink="/brand/Schwinn">
                <img src="/assets/gym brands/schwinn.png">
            </div>
            <p>Schwinn</p>
        </div>

        <div class="flex">
            <div class="card" routerLink="/brand/Sci Fit">
                <img src="/assets/gym brands/SCIFIT.png">
            </div>
            <p>Sci Fit</p>
        </div>

        <div class="flex">
            <div class="card" routerLink="/brand/SF Health Tech">
                <img src="/assets/gym brands/sf.webp">
            </div>
            <p>SF Health Tech</p>
        </div>

        <div class="flex">
            <div class="card" routerLink="/brand/Lifelong">
                <img src="/assets/gym brands/lfl.jpg">
            </div>
            <p>Lifelong</p>
        </div>

    </div>
</div>