.main{
    border-bottom: 6px solid rgb(239, 239, 239);
    border-top: 6px solid rgb(239, 239, 239);
    padding: 10px 0 10px 0;
}
.heading {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 20px 20px;
 
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    gap: 20px;
 
}

.container::-webkit-scrollbar {
    display: none; /* Hide the scrollbar in WebKit browsers (e.g. Chrome, Safari) */
  }

.card {
    cursor: pointer;
    border-radius: 6px;
    width: 140px;
    height: 140px;
    border: 1px solid rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex:hover p{
    color: rgb(0, 153, 255);
}
.flex p{
    text-align: center;
    color: rgb(79, 79, 79);
    margin-top: 7px;
    font-size: 13px;
}

img{
    width: 80%;
    height: 30%;
    transition: transform 0.3s ease-in-out;
}
img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
@media(max-width:1400px){
    .container{
        justify-content: left;
    }
}
@media(max-width:1000px){
    .container {
        padding: 10px;
        display: flex;
        gap: 10px;
    }
    .card {
        width: 130px;
        height: 130px;
        box-sizing: border-box;
    }
    
}

@media(max-width:500px){
    .heading{
        padding: 10px 10px;
        font-size: 15px;
    }
    .container{
        padding: 0;
        gap: 0;
    }
    .card {
        width: 90px;
        height: 90px;
        margin: 7px;
        box-sizing: border-box;
    }

    .flex p{
        font-size: 12px;
    }
}