<div class="form" [ngClass]="{'blur-bg': isBlur}">
    <div>
        <form [formGroup]="loginForm" class="div">
            <div class="login">

                <div class="logo">
                    <img src="assets/newlogo.jpg">
                </div>

                <div class="select">
                    <div class="contain">
                        <p class="black">Login</p>
                        <P routerLink="/registration">Register</P>
                    </div>
                </div>
                <div class="input">
                    <input formControlName="email" type="text" placeholder=" Email">
                    <span *ngIf="loginForm.hasError('required','email') && loginForm.controls['email'].dirty"
                        class="required">*Email is required</span>
                    <span *ngIf="loginForm.hasError('email','email')" class="required">*Email is invalid</span><br>
                </div>

                <div class="input">
                    <input formControlName="password" type="password" placeholder=" Password">
                    <span *ngIf="loginForm.hasError('required','password') && loginForm.controls['password'].dirty"
                        class="required">*Password is required</span>
                    <span class="required" *ngIf="show">*Wrong email or password !</span><br>
                </div>


                <button [disabled]="loginForm.invalid" [class.disabled]="loginForm.invalid" (click)="login()">SIGN
                    IN</button>
                <p class="text">Demo: email - hira&#64;gmail.com | Pass - 1234</p>

                <div class="line">_______________________________________</div>

                <div class="span">
                    <p class="text">
                        Forgot password ?
                        <span>
                            <a routerLink="/forget-password">Click here</a>
                        </span>
                    </p>

                    <p class="text">
                        Admin's Login ?
                        <span>
                            <a routerLink="/admin-login">Click here </a>
                        </span>
                    </p>
                </div>

            </div>
        </form>
    </div>
</div>
<div class="pop-up" *ngIf="popup">Logged in successfully<fa-icon [icon]="check" class="check"></fa-icon></div>

<div class="gif-container" *ngIf="gif">
    <img src="assets/loading.gif" alt="" class="gif">
</div>