<div class="main">
    <p class="heading">Shop By Top Supplements Brands</p>
    <div class="container">
        <div class="flex">
            <div class="card" routerLink="/brand/Nutrabay">
                <img src="/assets/gym brands/nutrabay.webp">
            </div>
            <p>Nutrabay</p>
        </div>
        <div class="flex">
            <div class="card" routerLink="/brand/Athlab">
                <img src="/assets/gym brands/athlab.webp">
            </div>
            <p>Athlab</p>
        </div>

        <div class="flex">
            <div class="card" routerLink="/brand/MuscleBlaze">
                <img src="/assets/gym brands/mb.webp">
            </div>
            <p>MuscleBlaze</p>
        </div>

        <div class="flex">
            <div class="card" routerLink="/brand/GNC">
                <img src="/assets/gym brands/gnc.webp">
            </div>
            <p>GNC</p>
        </div>

        <div class="flex">
            <div class="card" routerLink="/brand/MuscleTech">
                <img src="/assets/gym brands/muscletech.png">
            </div>
            <p>Muscle Tech</p>
        </div>

        <div class="flex">
            <div class="card" routerLink="/brand/Myfitness">
                <img src="/assets/gym brands/myfitness.webp">
            </div>
            <p>My Fitness</p>
        </div>

        <div class="flex">
            <div class="card" routerLink="/brand/Optimum Nutrition">
                <img src="/assets/gym brands/on.webp">
            </div>
            <p>Optimum Nutrition</p>
        </div>

        <div class="flex">
            <div class="card" routerLink="/brand/AS-IT-IS">
                <img src="/assets/gym brands/as-it-is.png">
            </div>
            <p>As-It-Is</p>
        </div>

        <div class="flex">
            <div class="card" routerLink="/brand/Dymatize">
                <img src="/assets/gym brands/dy.webp">
            </div>
            <p>Dymatize</p>
        </div>

    </div>
</div>
