<div class="main">
    <div class="delete" id="show">
        <div class="heading">
            <div class="img"><div class="circle"><fa-icon [icon]="trash" class="icons trash"></fa-icon> </div></div>
            <p>Remove from cart?</p>
        </div>

        <div class="center">
            <P>You can save products to your Wishlist and buy them later.</P>
        </div>

        <div class="btn">
            <button class="btn-1" (click)="wishList()">Move to Wishlist</button>
            <button class="btn-2" (click)="remove()">Remove</button>
        </div>

    </div>
</div>
