.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.card {
    cursor: pointer;
    width: 280px;
    padding: 10px;
    margin: 10px;
    height: 370px;
    border: 1px solid rgb(223, 223, 223);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}


.image {
    width: 100%;
    height: 72%;
    margin: 2.5%;
    position: relative;
}

.image img{
    width: 95%;
    height: 95%
}

.info {
    max-height: 18%;
    padding: 3.5%;
}

.cost {
    display: flex;
}

.icons {
    font-size: 13px;
    font-weight: 100;
    margin-left: 5px;
    margin-top: 1px;
}

.flex {
    display: flex;
}

.flex p{
    font-size: 14px;
    font-weight: 700;
}

.card:hover .flex {
    cursor: pointer;
    color: rgb(0, 153, 255);
}

.badge {
    margin-left: -6.2%;
    width: 65px;
    height: 22px;
    background-color: rgb(62, 165, 85);
    position: absolute;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}

.discountCost {
    font-size: 14px;
    color: rgb(216, 28, 28);
}

.productCost {
    margin-left: 10px;
    font-size: 14px;
    text-decoration: line-through;
    color: rgb(147, 147, 147);
}
.gif-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    min-height: 50vh;
}
.gif{
    width: 40px;
    height: 40px;
    margin-bottom: 40px;
}
@media(max-width:1000px){
    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
    .card {
        width: 200px;
        height: 300px;
        padding: 5px;
        margin: 5px;
        border: 1px solid rgb(223, 223, 223);
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
    }
    .image {
        width: 100%;
        height: 70%;
        margin: 2.5%;
    }
    .info {
        height: 30%;
        padding: 3.5%;
    }
    .price p{
        font-size: 13px;
        margin-left: 5px;
    }
    .icons {
        font-size: 11px;
        font-weight: 100;
        margin-left: 5px;
        margin-top: 1px;
    }
    .badge {
        margin-left: -5%;
        width: 53px;
        height: 20px;
        font-size: 10px;
        font-weight: 700;
    }
    .flex p{
        font-size: 13px;
        font-weight: 700;
    }
}

@media(max-width:500px){
    .card {
        width: 155px;
        height: 220px;
        padding: 5px;
        margin: 5px;
        border: 1px solid rgb(223, 223, 223);
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
    }

    .flex p{
        font-size: 12px;
        font-weight: 700;
    }
    .price p{
        font-size: 12px;
        margin-left: 5px;
    }
    .productCost p{
        font-size: 12px;
    }
    .image {
        width: 100%;
        height: 70%;
    }
    
    .image img{
        width: 95%;
        height: 95%
    }
    
    .info {
        height: 30%;
        padding: 3.5%;
    }
    .price{
        margin-top: -8px;
    }
}
