

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: rgb(0, 0, 0);
}

.router-outlet{
    min-height: 100vh;
}

.logo {
    margin-left: 5%;
}

.img1 {
    margin-top: 3px;
    height: 35px;
    width: 130px;
    border: none;
}