<div class="main">
    <p class="heading"> Why FitEssentials Hub ?</p>
    <div class="container">
        <div class="text">
            <p class="quote">With unbeatable prices, exceptional customer service, and a user-friendly interface, we elevate
                the fitness journey for enthusiasts, making us the ultimate destination for all things fitness.</p>
        </div>
    
        <div class="flex">
            <div class="box">
                <div class="img"><img src="assets/medal.png" class="medal"></div>
                <div>
                    <p class="bold">Best In Quality Products</p>
                    <p>Ensuring that your products are of high quality can set your website apart. Customers value
                        durability and effectiveness in gym equipment and supplements.</p>
                </div>
            </div>
            <div class="box">
                <div class="img"><img src="assets/cs.png" class="cs"></div>
                <div>
                    <p class="bold">Purchase Support & Guidance</p>
                    <p>Our team is always on standby to help you find the right gym equipment that best fits your specific
                        requirements.</p>
                </div>
            </div>
    
            <div class="box">
                <div class="img"><img src="assets/fd.png" class="fd"></div>
                <div>
                    <p class="bold">Exceptional Delivery Experience</p>
                    <p>Our advanced logistics process ensures on-time delivery of all fitness products in their prime
                        condition
                        pan India.</p>
                </div>
    
            </div>
        </div>
    </div>
</div>
