.main{
    border-bottom: 12px solid rgb(239, 239, 239);
    border-top: 6px solid rgb(239, 239, 239);
}
.container{
    padding: 20px;
}
.heading {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.text {
    display: flex;
    justify-content: center;
}

.quote {
    width: 45%;
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
}

.flex {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    width:400px;
    display: flex;
    margin: 20px 20px;
}


h2 {
    width: 300px;
}
p{
    font-size: 14px;
}
.bold{
    font-size: 16px;
    font-weight: 700;
}

.medal{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.fd{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.cs{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

@media(max-width:600px){
    .heading{
        font-size: 15px;
    }
    .quote{
        margin-top: 0;
        width: 70%;
        font-size: 13px;
    }
    .flex{
        margin-top:10px ;
    }
    .box{
        margin: 0;
    }
    .medal{
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    .fd{
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }
    
    .cs{
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }
    p{
        font-size: 12px;
    }
    .bold{
        font-size: 14px;
        font-weight: 700;
    }
   
}