.container {
    display: flex;
    overflow-x: auto;
    /* Enable horizontal scrolling */
    margin: 20px 20px 20px 3%;
}

.container::-webkit-scrollbar {
    display: none;
}

.container-2 {
    border: 1px solid rgb(223, 223, 223);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
    width: 1000px;
    margin-top: 20px;
    padding-left: 70px;
    margin-bottom: 20px;
}

.flex-box {
    display: flex;
}

h2 {
    margin-top: 20px;
}

.box {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    width: 875px;
    min-height: 115px;
    border: 1px solid rgb(221, 221, 221);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.h1 {
    margin-top: 30px;
    margin-left: 150px;
    background-color: rgb(36, 163, 222);
    color: white;
    width: 876px;
    height: 50px;
    display: flex;
    align-items: center;
}

.h3 {
    margin-left: 55px;
    margin-top: 20px;
}

.box-2 {
    margin-left: 30px;
    margin-top: 20px;
}

.edit {
    margin-top: 15px;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
}

.box-3 {
    margin-top: 20px;
    display: flex;
    background-color: rgb(36, 163, 222);
    color: white;
    justify-content: space-between;
    width: 875px;
    height: 50px;
    border: 1px solid rgb(204, 204, 204);
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 14px;
}

.box-3 div {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.box-3 span {
    margin-left: 20px;
    font-weight: 600;
}

.radio {
    margin-left: -25px;
    margin-right: 12px;
}

.name {
    font-size: 12px;
    font-weight: 600;
}

.phone {
    font-size: 12px;
    font-weight: 600;
}

.deliverAt {
    display: inline-block;
    width: 45px;
    height: 17px;
    text-align: center;
    background-color: rgb(207, 207, 207);
    color: rgb(104, 104, 104);
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
}

.pincode {
    font-weight: 600;
    font-size: 12px;
}

.address {
    margin-top: 15px;
    font-size: 12px;
}

.address-1 {
    margin-top: 5px;
    font-size: 12px;
}

.head {
    margin-top: 5px;
    margin-left: 60px;
    display: flex;
}

.head .new-address {
    color: rgb(36, 163, 222);
    margin-left: 10px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.radio-btn2 {
    margin-top: 20px;
    margin-left: 72px;
    font-size: 14px;
}

.radio-btn2-div {
    display: flex;
}

.radio-btn2 p {
    font-size: 12px;
}

.btn-3 {
    margin-left: 30px;
}

form {
    width: 875px;
    height: 550px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0.1px 0.1px 0.1px 0.1px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.flex {
    margin-top: 10px;
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
}

.input {
    width: 340px;
    height: 22px;
    margin-right: 30px;
}

select {
    width: 347px;
    height: 26px;
    margin-right: 32px;
}

.btn {
    margin-top: 40px;
    margin-left: 70px;
    width: 160px;
    height: 40px;
    border-radius: 7px;
    border: none;
    background-color: rgb(92, 194, 92);
    color: white;
    font-weight: 600;
    margin-right: 35px;
}

.btn-1 {
    margin-top: 40px;
    width: 160px;
    height: 40px;
    border-radius: 7px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(92, 194, 92);
    font-weight: 600;
    border: 1px solid rgb(92, 194, 92);
}

.span {
    font-size: 12px;
    height: 10px;
}

.dots {
    width: 70px;
    height: 60px;
    border: 1px solid rgb(191, 191, 191);
    right: 10%;
    font-size: 13px;
    position: absolute;
    background-color: white;
}

.dots .edit-div {
    border-bottom: 1px solid rgb(201, 201, 201);
    height: 23px;
}
.edit{
    position: relative;
}

.dots div {
    margin-top: 5px;
    text-align: center;
}

.dots div:hover {
    color: rgb(36, 163, 222);
}

@media(max-width:450px) {
    app-accounts {
        display: none;
    }

    .container {
        margin: 0;
    }

    .container-2 {
        padding-left: 2%;
        width: 100%;
        border: none;
        box-shadow: none;
    }

    .box-3 {
        width: 97%;
    }

    .box,
    .h1 {
        width: 97%;
    }

    form {
        width: 97%;
    }

    .head {
        margin-left: 10px;
    }

    .main {
        width: 100%;
    }

    .flex {
        margin-left: 2%;
        width: 100%;
    }

    .input {
        width: 85%;
    }

    input {
        width: 80%;
    }

    select {
        width: 90%;
    }

    .radio-btn2 {
        margin-left: 10px;
    }

    .radio-btn2 input {
        margin-right: 5px;
        width: 10px;
        margin-left: 5px;
    }

    .radio-btn2-div {
        display: block;
        font-size: 12px;
    }

    .btn,
    .btn-1 {
        width: 120px;
        height: 35px;
        font-size: 10px;
        text-align: center;
        margin: 6% 0 0 7%;
    }
    .dots{
        right: 0;
        top: 0;
    }
}