/* You can add global styles to this file, and also import other style files */
*{
    font-family: sans-serif;
}
.disabled{
    opacity: 0.9;
    cursor: not-allowed;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* For WebKit browsers like Chrome, Safari */
::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(129, 129, 129);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}
