.main {
    border-bottom: 6px solid rgb(239, 239, 239);
    border-top: 6px solid rgb(239, 239, 239);
    padding: 20px 5px 20px 5px;
}

.heading {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 20px 20px;
    line-height: 1.3;
}


.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    overflow-x: auto;
    justify-content: center;
    gap: 15px;
}
.container::-webkit-scrollbar{
    display: none;
}

.card {
    cursor: pointer;
    min-width: 200px;
    padding: 10px;
    margin: 5px;
    height: 260px;
    background-color: white;
    border: 1px solid rgb(223, 223, 223);
    box-sizing: border-box;
}
.card:hover .name {
    cursor: pointer;
    color: rgb(0, 153, 255);
}

.image {
    width: 100%;
    height: 72%;
    margin: 2.5%;
}

.image img {
    width: 95%;
    height: 95%
}

.name {
    font-size: 13px;
    font-weight: 700;
    margin: 10px 0 0 10px;
}

.value {
    color: gray;
    font-size: 11px;
    margin-left: 10px;
}
@media(max-width:1400px){
    .container{
        justify-content: start;
    }
}
 
@media(max-width:1000px) {
    .container {
        width: 100%;
        margin: 0 auto;
        
        gap: 10px;
    }
    .card {
        min-width: 200px;
        height: 250px;
        padding: 0;
        margin: 0;
    }

    .image {
        width: 100%;
        height: 75%;
        margin: 2.5%;
    }
}

@media(max-width:500px) {
    .heading{
        padding: 10px 10px;
        font-size: 15px;
    }
    .card {
        min-width: 155px;
        height: 200px;
        padding: 0;
    }

    .name {
        font-size: 10px;
    }

    .value {
        font-size: 10px;
        margin-top: -5px;
    }
}