<div class="main">
    <p class="heading">Upto 60% off on Cardio Machines </p>
    <div class="container">
        <div class="card" routerLink="/Treadmills">
            <div class="image"> <img src="/assets/tm.jpg"></div>
            <p class="name">Treadmills</p>
            <p class="value">Starting from 29,999</p>
        </div>
        <div class="card" routerLink="/Exercise Bikes">
            <div class="image"> <img src="/assets/eb.jpeg"></div>
            <p class="name">Exercise Bikes</p>
            <p class="value">Starting from 19,499</p>
        </div>
        <div class="card" routerLink="/Rowing Machines">
            <div class="image"> <img src="/assets/rm.jpg"></div>
            <p class="name">Rowing Machines</p>
            <p class="value">Upto 40% off</p>
        </div>
        <div class="card" routerLink="/Elliptical Trainers">
            <div class="image"> <img src="/assets/elipticals.jpg"></div>
            <p class="name">Eliptical Machines</p>
            <p class="value">Starting from 35,000</p>
        </div>
        <div class="card" routerLink="/Ladder Step Machines">
            <div class="image"> <img src="/assets/lsm.jpg"></div>
            <p class="name">Ladder Step Machines</p>
            <p class="value">Starting from 28,999</p>
        </div>
        <div class="card" routerLink="/ARC Trainers">
            <div class="image"> <img src="/assets/gym brands/arc trainer.jpg"></div>
            <p class="name">ARC Trainer</p>
            <p class="value">Starting from 28,999</p>
        </div>
    </div>
</div>