<div class="form">
    <div>
        <form [formGroup]="forgetForm" class="div">
            <div class="login">
                <div class="logo">
                    <img src="assets/newlogo.jpg">
                </div>

                <div class="select">
                     <p>Forgot Password</p>
                </div>

                <div class="instruction">Enter your email and we'll send you instruction on how to reset your password.
                </div>

                <div class="input">
                    <input formControlName="email" type="text" placeholder=" Email ">
                    <span *ngIf="forgetForm.hasError('required','email') && forgetForm.controls['email'].dirty"
                        class="required">*Email is required</span>
                    <span *ngIf="forgetForm.hasError('email','email')" class="required">*Email is invalid</span><br>
                </div>

                <button [disabled]="forgetForm.invalid" [class.disabled]="forgetForm.invalid"
                    (click)="submit()">SUBMIT</button>

            </div>
        </form>
    </div>

</div>