* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

.form {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url("/assets/gym4.jpg");
}

.heading {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.add-products {
    margin-top: 5%;
    padding-top: 10px;
    background: transparent;
    margin-bottom: 50px;
    width: 400px;
    min-height: 560px;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 20px;
}

select {
    background: transparent;
    width: 140px;
    height: 25px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    margin-top: 2px;
}

option {
    background-color: rgb(50, 50, 50);
    color: white;
}

.type {
    display: flex;
}

input {
    background: transparent;
    width: 300px;
    height: 25px;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    margin-top: 2px;
}

.input-heading {
    font-size: 12px;
    font-weight: lighter;

}

.input {
    display: flex;
    flex-direction: column;
}

.type input {
    width: 140px;
}

.type .space{
    margin-right: 15px;
}

.input ::placeholder {
    font-size: 12px;
    color: rgb(255, 253, 253);
}
textarea{
    background-color: transparent;
    border: 1px solid white;
    width: 300px;
}

button {
    width: 350px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 25px;
    margin-bottom: 25px;
}

button:hover {
    background-color: rgb(9, 9, 9);
}

.required {
    font-size:13px;
    color: rgb(227, 30, 30);
}
.required1{
    font-size:13px;
    width: 150px;
    color: rgb(227, 30, 30);
}